certifi==2024.8.30
charset-normalizer==3.3.2
darkdetect==0.8.0
humanfriendly==10.0
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
mypy==1.11.2
mypy-extensions==1.0.0
ordered-set==4.1.0
Pygments==2.18.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
PySide6==6.8.2.1
PySide6-Customized-Window==1.16
PySide6-DS==4.6
PySide6-Fluent-Widgets==1.6.6
PySide6-FluentUI-QML==1.6.7
PySide6-stubs==6.4.2.0
PySide6-VerticalQTabWidget==0.0.3
PySide6_Addons==6.8.2.1
PySide6_Essentials==6.8.2.1
PySide6_Examples==6.7.3
PySide6_FeatherIcons_QML==0.1.2
PySide6WidgetCollection==1.0.2
PySideSix-Frameless-Window==0.4.3
PyYAML==6.0.2
requests==2.32.3
rich==13.9.2
shiboken6==6.8.2.1
typing_extensions==4.12.2
uic==0.0.1
uic920==0.1.0
uiclasses==3.0.0
uicognitive-sdk==1.0.0
urllib3==2.2.3
